{{>layouts/header}}
{{#hotel}}
    <form class="container" action="/list/update" method="post">
        <input name="id" type="hidden" value="{{id}}">
        <div class="mb-3">
            <label class="form-label">객실 번호</label>
            <input type="text" class="form-control" name="rooms" value="{{rooms}}">
        </div>
        <div class="mb-3">
            <label class="form-label">객실 상태</label>
            <input type="text" class="form-control" name="roomstatus" value="{{roomstatus}}">
        </div>
        </div>
        <div class="mb-3">
            <label class="form-label">고객 요청 사항 내용</label>
            <textarea class="form-control" rows="5" name="requestedterm">{{requestedterm}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/list/{{id}}">리스트로 돌아가기</a>
    </form>
{{/hotel}}
{{>layouts/footer}}