{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">NO</th>
        <th scope="col">객실 번호</th>
        <th scope="col">객실 상태</th>
        <th scope="col">고객 요구 사항</th>
    </tr>
    </thead>
    <tbody>
    {{#hotellist}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/list/{{id}}">{{rooms}}</a></td>
            <td>{{roomstatus}}</td>
            <td>{{requestedterm}}</td>
        </tr>
    {{/hotellist}}
    </tbody>
</table>
<a href="/owner">New owner</a>
{{>layouts/footer}}