{{>layouts/header}}
<style>
    .btn btn-primary {
        margin-bottom: 20px; /* 20px의 마진을 설정하여 간격 생성 */
    }
    .pp{
    margin-top: 40px; /* 20px의 마진을 설정하여 간격 생성 */
    }


</style>
<div class="container">
    <div class="row">
        {{#hotel}}
            <div class="col-6">
                <p class="pp"><h2 style="text-align: center;">객실 정보</h2></p>
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        {{rooms}}
                    </div>
                    <table class="table" style="text-align: center;">
                        <thead>
                        <tr>
                            <th scope="col">객실 상태</th>
                            <th scope="col">고객 요구 사항</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{roomstatus}}</td>
                            <td>{{requestedterm}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/list/{{hotel.id}}/edit" class="btn btn-primary">수정</a>
                <a href="/list/{{hotel.id}}/delete" class="btn btn-danger">삭제</a>
                <a href="/list">리스트로 돌아가기</a>
            </div>
        {{/hotel}}
    </div>
</div>
{{>layouts/footer}}